{extend name="admin/public/base" /}
{block name='content'}
{include file='admin/public/content_header' /}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">

                <!-- 表单头部 -->
                <div class="box-header with-border">
                    <div class="btn-group">
                        <a class="btn flat btn-sm btn-default BackButton">
                            <i class="fa fa-arrow-left"></i>
                            返回
                        </a>
                    </div>
                </div>

                <form id="dataForm" class="form-horizontal dataForm"  action="/admin/setting/create" method="post"
                enctype="multipart/form-data">

                <div class="box-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">字段名称名称</label>
                        <div class="col-sm-10 col-md-4">
                            <input maxlength="50" id="name" name="name" value="{$data.name|default=''}"
                                   class="form-control" placeholder="请输入字段名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="setting_type" class="col-sm-2 control-label">设置类型</label>
                        <div class="col-sm-10 col-md-4">
                            <select name="setting_type" id="setting_type" class="form-control field-select" data-placeholder="请选择设置类型">
                                <option value="1">复选框</option>
                            </select>
                        </div>
                    </div>
                    <script>
                        $('#setting_type').select2();
                    </script>


                    <script>
                        $('#status').bootstrapSwitch({
                            onText: "是",
                            offText: "否",
                            onColor: "success",
                            offColor: "danger",
                            onSwitchChange: function (event, state) {
                                $(event.target).closest('.bootstrap-switch').next().val(state ? '1' : '0').change();
                            }
                        });
                    </script>


                </div>

                <!--表单底部-->
                <div class="box-footer">

                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10 col-md-4">
                        {if !isset($data)}
                        <div class="btn-group pull-right">
                            <label class="createContinue">
                                <input type="checkbox" value="1" id="_create" name="_create"
                                       title="继续添加数据">继续添加</label>
                        </div>
                        {/if}
                        <div class="btn-group">
                            <button type="submit" class="btn flat btn-info dataFormSubmit">
                                保存
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="reset" class="btn flat btn-default dataFormReset">
                                重置
                            </button>
                        </div>
                    </div>
                </div>

                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $("#dataForm").validate({
        rules: {
            name: {
                required: true,
            },
            description: {
                required: true
            }
        },
        messages: {
            name: {
                required: "名称不能为空",
            },
            description: {
                required: "简介不能为空",
            }
        },
    });
</script>

{/block}

